<h1>CSV Parser</h1>

<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">recuperation csv</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>